[run]
branch = True
omit =
    */cli.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Skip any pass lines such as may be used for @abstractmethod
    pass

    # in-line directive
    coverage: disable

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    raise AssertionError

    # Don't complain about code specifically to help with mypy import resolution
    if TYPE_CHECKING:

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

fail_under = 90
